<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>House Pricing Model</title>
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  <!-- Layout Fixes -->
  <link rel="stylesheet" type="text/css" href="/static/semantics.css">
</head>

<body>
    <header>
      <h1>Kaggle House Project Output Page</h1>
    </header>
    <main>
    <section>
      <h2>What are we looking for again?</h2>

      <p>The output values here are predicted prices that our LASSO linear regression algorithm calculated. We are going to be comparing these values (right now, just one hard-coded example for brevity) to the actual test data to determine how well our algorithm works. Note that we don't have the actual "test.csv" sale prices from Kaggle. Below, you'll see a table of the hard-coded example.</p>
    </section>
    <section>
      <h2>Predicted Sale Price Table</h2>
      <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Predicted Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1461</td>
              <td>119139.541900</td>
            </tr>
          </tbody>
      </table>
    </section>
    <section>
      <button>
        provide feedback here! :)
      </button>
    </section>


</main>
</body>
</html>
